# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter checkpoints
.ipynb_checkpoints/

# LibreOffice & Office lock files
.~lock.*#
~$*

# OS / Editor temporary files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*~
